@font-face {
  font-family: "ms sans serif";
  src: url("/static/fonts/ms_sans_serif.woff2");
}
@font-face {
  font-family: "ms sans serif bold";
  src: url("/static/fonts/ms_sans_serif_bold.woff2");
}
* {
  font-family: "ms sans serif";
  font-size: 1rem;
}
h2 {
  font-family: "ms sans serif bold";
  font-size: 1rem;
}

html,
body {
  background-color: #c8a724;
  padding: 0;
  margin: 0;
  /* font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

* {
  box-sizing: border-box;
}
.container {
  margin: 0px 50px;
}
/* main {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
} */

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttonsContainer {
  max-width: 512px;
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin: 20px 0px;
}
.buttonsContainer button {
  width: 50%;
  padding: 20px;
}

.inputContainer {
  display: flex;
  margin: 20px 0px;
}
.primaParte {
  margin: 20px 0px;
  max-width: 512px;
}
